.input-row mat-form-field + mat-form-field {
  margin-left: 8px;

}

.button-left {
  float: left;
  margin-left: 400px;
}

.button {
  align-items: center;
  background: #750303 !important;
  color: white !important;
  justify-content: flex-start;
  font-size: 13px;
}

mat-form-field {
  margin-right: 12px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.nome-jogo{
  width: 250px;
  color: black !important;
}
mat-label{
  color: black !important;
}
.area-descricao{
  width: 500px;
}

textarea{
  resize: none;
}

mat-slider {
  margin-left: 15px;
}
