<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
  xmlns="http://www.w3.org/1999/html">
  <div class="input-row">

    <mat-form-field appearance="fill">
      <mat-label>Nome do Jogo</mat-label>
      <input matInput formControlName="nomeJogo">

    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="descricao"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nota</mat-label>
      <input matInput type="number" formControlName="nota"  placeholder="1/5">

    </mat-form-field>


  <div class="button-left">
    <button mat-raised-button type="submit" class="button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  </div>
</form>
