.example-container {
  height: 600px;
  overflow: auto;
}

table {
  width: 99%;
}

.header-cell {
  background: #750303 !important;
  color: white !important;
  font-size: 14px;
}

.cell{
  color: #650303;
  background: white !important;
  padding-top: 10px;
}

.button {
  align-items: center;
  color: #750303 !important;
  background: white !important;
  justify-content: flex-start;
  font-size: 13px;
}

.imagem{
  border-radius: 9px;
  border-color: #750303;
  border-style: solid;
  border-width: 1px;
}
td, th {
  text-align: center !important;
  vertical-align: middle !important;
}
