.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.header-cell {
  background: #750303 !important;
  color: white !important;
  font-size: 13px;
  place-content: center;
}

.cell{
  color: #650303;
  background: white !important;
}

.button {
  align-items: center;
  color: #750303 !important;
  background: white !important;
  justify-content: flex-start;
  font-size: 13px;
}
