<table class="table">
  <thead>
  <tr>
    <th class="header-cell" fxFlex fxLayout="column" fxLayoutAlign="center center">Dados do jogo</th>
    <th class="header-cell" fxFlex fxLayout="column" fxLayoutAlign="center center">Quantidade</th>
    <th class="header-cell" fxFlex fxLayout="column" fxLayoutAlign="center center">Preço Final</th>
    <th class="header-cell" fxFlex fxLayout="column" fxLayoutAlign="center center">Remover do Carrinho</th>
  </tr>
  </thead>
  <tbody>
  <tr fxLayoutAlign="center center" *ngFor="let item of listaJogos">
    <td class="cell" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex fxLayoutAlign="center center">
        <div>
          <div>
            <img src="{{ item.caminhoImagemJogo }}" width="140px" height="150px" class="imagem"
                 alt="imagem do jogo">
          </div>
          <div>
            <span class="textos">{{ item.jogoNome }}</span>
          </div>
          <div>
            <span class="textos"> R${{ item.precoUnitario }}</span>
            <span class="desconto" [hidden]="!item.temDesconto">Desconto: {{ item.desconto }}%</span>
          </div>
        </div>
      </div>
    </td>
    <td class="cell" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex fxLayoutAlign="center center">
        <span class="textos"> {{ item.quantidade }}</span>
      </div>
    </td>
    <td class="cell" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex fxLayoutAlign="center center">
        <span class="textos"> R${{ item.precoFinal }}</span>
      </div>
    </td>

    <td class="cell" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex fxLayoutAlign="center center">
        <button mat-icon-button (click)="retirarJogoDoCarrinho(listaJogos.indexOf(item))" class="button">
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3"></td>
    <td></td>
  </tr>
  </tfoot>
</table>
<hr class="gradient">
<div>
  <span class="preco-final" fxFlex fxLayoutAlign="end center">Total: R${{carrinhoDto.precoFinal}}</span>
</div>
